@model EcoConecteWeb.Models.OrientacoesViewModel

@{
    ViewData["Title"] = "EcoConecte - Orientação Detalhes";
}

<div class="container">
    <h1 class="title">
        <i class="fas fa-info-circle"></i> Detalhes
    </h1>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCooperativa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCooperativa)
            </dd>
        </dl>
    </div>

    <div class="button-group">
        <a class="icon-button" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fas fa-edit"></i> Editar
        </a>
        <a class="icon-button" asp-action="Index">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
</div>
