@model EcoConecteWeb.Models.CooperativaViewModel

@{
    ViewData["Title"] = "EcoConecte - Perfil Cooperativa";
    var pessoaId = ViewData["PessoaId"];
}
<h1 class="title">
    <i class="fas fa-info-circle"></i> Perfil da Cooperativa
</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoEstadual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InscricaoEstadual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoMunicipal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InscricaoMunicipal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<!-- Botão para Editar Perfil (se necessário) -->
<a class="btn btn-primary" asp-controller="AdmCooperativa" asp-action="Edit" asp-route-id="@pessoaId">Alterar Dados?</a>