@model IEnumerable<EcoConecteWeb.Models.VendaViewModel>

@{
    ViewData["Title"] = "EcoConecte - Vendas";
    var PessoaId = ViewData["PessoaId"];
    var idCoop = Convert.ToInt32(ViewContext.RouteData.Values["id"] ?? 0);
}

<div class="container">
    <h1 class="title">
        <i class="fas fa-shopping-cart"></i> Vendas
    </h1>

    <p class="add-button">
        <a class="icon-button" asp-controller="AdmCooperativa" asp-action="VendasCreate" asp-route-pessoaId="@idCoop">
            <i class="fas fa-plus"></i> Cadastrar nova venda
        </a>
    </p>

    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                    <th>@Html.DisplayNameFor(model => model.Valor)</th>
                    <th>@Html.DisplayNameFor(model => model.Quantidade)</th>
                    <th>@Html.DisplayNameFor(model => model.Data)</th>
                    <th>@Html.DisplayNameFor(model => model.IdPessoa)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                        <td>@Html.DisplayFor(modelItem => item.Data)</td>
                        <td>@Html.DisplayFor(modelItem => item.IdPessoa)</td>
                        <td>
                            <div class="button-group">
                                <a href="@Url.Action("VendasEdit", "AdmCooperativa", new { id = item.Id, IdCoop = item.IdCooperativa })" class="icon-button">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a href="@Url.Action("VendasDelete", "AdmCooperativa", new { id = item.Id, IdCoop = item.IdCooperativa })" class="icon-button">
                                    <i class="fas fa-trash"></i> Apagar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>