@model IEnumerable<EcoConecteWeb.Models.ColetaViewModel>

@{
    ViewData["Title"] = "Buscar por CEP";
    var coletas = Model ?? Enumerable.Empty<EcoConecteWeb.Models.ColetaViewModel>();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - EcoConecte</title>
    <link rel="stylesheet" href="~/path/to/site.css">
</head>
<body>

<div class="container">
    <h1 class="title">Sua rotina de coleta</h1>

    <div class="table-responsive">
        @if (!coletas.Any()) // Verifica se a lista está vazia
        {
            <div class="alert alert-danger" role="alert">
                Ainda não existem coletas para a região buscada.
            </div>
                <p class="lead">Cadastre-se para agendar uma coleta no seu endereço.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Dia da Coleta</th>
                        <th>Horário de Início</th>
                        <th>Horário de Término</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var coleta in coletas) {
                        <tr>
                            <td>@coleta.DiaColeta.ToString("dddd, dd/MM")</td>
                            <td>@coleta.HorarioInicio.ToString("HH:mm")</td>
                            <td>@coleta.HorarioTermino.ToString("HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="button-group">
            @Html.Raw($"<a class='icon-button' href='{Url.Action("ConsultarOrientacoes", "Orientacoes")}'><i class='fas fa-lightbulb'></i> Orientações e Dicas</a>")
            @Html.Raw($"<a class='icon-button' href='{Url.Action("Index", "Home")}'><i class='fas fa-arrow-left'></i> Voltar</a>")
    </div>
</div>

</body>
</html>
