@using Microsoft.AspNetCore.Identity
@using EcoConecteWeb.Areas.Identity.Data

@inject SignInManager<UsuarioIdentity> SignInManager
@inject UserManager<UsuarioIdentity> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var usuarioAtual = await UserManager.GetUserAsync(User);
        var email = usuarioAtual?.Email;
        var nomeUsuario = email?.Split('@')[0]; // Pegando apenas a parte antes do @
        var pessoaId = usuarioAtual?.PessoaId; // Obtendo o PessoaId

        var roles = usuarioAtual != null ? await UserManager.GetRolesAsync(usuarioAtual) : new List<string>();

        var ehAdmin = roles.Contains("ADMROOT");
        var ehCooperado = roles.Contains("COOPERADO");
        var ehCooperativa = roles.Contains("COOPERATIVA");
        var ehCliente = !ehAdmin && !ehCooperado && !ehCooperativa;

        <li class="nav-item">
            <span class="nav-link text-dark">Olá, @nomeUsuario</span>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark border-0">Sair</button>
                @Html.AntiForgeryToken()
            </form>
        </li>

        if (ehCliente)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="clienteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Área do Cliente
                </a>
                <ul class="dropdown-menu" aria-labelledby="clienteDropdown">
                    <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Index" asp-route-id="@pessoaId">Perfil</a></li>
                    <li><a class="dropdown-item" asp-controller="Opcao" asp-action="Index">Usuário</a></li>
                    <li><a class="dropdown-item" asp-controller="Suporte" asp-action="Index">Suporte</a></li>
                </ul>
            </li>
        }

        if (ehAdmin)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Área Administrativa
                </a>
                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                    <li><a class="dropdown-item" asp-controller="Opcao" asp-action="Index">Opções</a></li>
                </ul>
            </li>
        }

        if (ehCooperativa)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="coopDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Área Administrativa
                </a>
                <ul class="dropdown-menu" aria-labelledby="coopDropdown">
                    <li><a class="dropdown-item" asp-controller="Adm" asp-action="Index" asp-route-id="@pessoaId">Dados Cooperativa</a></li>
                    <li><a class="dropdown-item" asp-controller="Opcao" asp-action="Index">Opções</a></li>
                </ul>
            </li>
        }

        if (ehCooperado)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="coopeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Área Cooperado
                </a>
                <ul class="dropdown-menu" aria-labelledby="coopeDropdown">
                    <li><a class="dropdown-item" asp-controller="Cooperado" asp-action="Index" asp-route-id="@pessoaId">Perfil</a></li>
                    <li><a class="dropdown-item" asp-controller="Opcao" asp-action="Index">Opções</a></li>
                </ul>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Registre-se</a>
        </li>
    }
</ul>
