@model EcoConecteWeb.Models.NoticiaViewModel

@{
    ViewData["Title"] = "EcoConecte - Notícia Detalhes";
}

<h1 class="title">
    <i class="fas fa-info-circle"></i> Detalhes da Notícia
</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCooperativa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCooperativa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>

<div class="button-group">
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="icon-button">
        <i class="fas fa-edit"></i> Editar
    </a>
    <a class="icon-button" asp-action="Index">
        <i class="fa fa-arrow-left"></i> Voltar
    </a>
</div>
