@model EcoConecteWeb.Models.NoticiaViewModel

@{
    ViewData["Title"] = "EcoConecte - Notícia Detalhes";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCooperativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCooperativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a class="btn" asp-action="Index">Voltar</a>
</div>

<style>
    .container {
        width: 100%;
        background: #FAFAFA;
        padding: 20px;
    }

    h1 {
        font-family: 'Abril Fatface', sans-serif;
    }

    .btn {
        background: #007447;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

    .link-action {
        color: #007447;
        text-decoration: none;
    }

        .link-action:hover {
            text-decoration: underline;
        }
</style>
